
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-money:before { content: '\e801'; } /* '' */
.icon-money-1:before { content: '\e802'; } /* '' */
.icon-dollar:before { content: '\e803'; } /* '' */
.icon-money-2:before { content: '\f0d6'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-dollar-1:before { content: '\f155'; } /* '' */
